<section class="greeting container flex">
  <div class="text flex">
    <h1> Budget<span>Buddy</span> </h1>
    <p> Track your spending and save money </p>
  </div>
  <div class="image flex">
    <%= image_tag 'Logo.png' %>
  </div>
  <div class="content flex">
    <p class='text flex'>Sign up or log in to get started!</p>
    <div class="btn__group flex">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn' %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn' %>
    </div>
  </div>
</section>

